<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8">
    <link href="layout.css" rel="stylesheet">
  </head>
  <body>
  <div id="tip_container">
	  <div id="tip_notification" class="outline">
  		<span id="tip_tipper">
  			Getting info...
  		</span>
      <div id="tip_tip">
        <span>&nbsp;-&nbsp;</span>
        <span id="tip_amount"></span>
      </div>
  	</div>
  </div>
  </body>
  <!-- Use the same jQuery that is used on the dashboard-->
  <!-- <script src="../components/jquery-2.1.4.min.js"></script> -->
  <script src="./js/jquery.min.js"></script>

  <script src="layout.js"></script>
</html>